@font-face {
  font-family: 'camell';
  src: url('https://joojamyeong.github.io/port/fonts/Hakgyoansim%20Dunggeunmiso%20OTF%20B.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'KBO';
  src: url('../fonts/KBO-Dia-Gothic_bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
.yatra-one-regular {
  font-family: "Yatra One", serif;
  font-weight: 400;
  font-style: normal;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
body{
  overflow-y: hidden;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100vh;
}
::-webkit-scrollbar{
  display: none;
}
/* intro */
.intro-wrap,
.introduce,
.intro2,
.myproject
{
  flex: 0 0 100vw;
  height: 100vh;
  scroll-snap-align: start;
}
.intro-wrap{
  background-color: #000000;
  position: relative;
  height: 100vh;
  width: 100%; 
}
.intro-wrap.flash{
  background-color:#ffffff;
  transition: background-color 1s ease ;
}
.intro-wrap.flash .rec{
  visibility: hidden;
}
.intro-topleft{
  position: absolute;
  top: 5%;
  left: 5%;
  width: 150px;
  height: 150px;
  border-left: 1px solid #ffffff;
  border-top: 1px solid #ffffff;
  text-align: center;
}
.intro-topleft i{
  color: white;
  font-size: 40px;
  margin-top: 20px;
}
.intro-topright{
  position: absolute;
  top: 5%;
  right: 5%;
  width: 150px;
  height: 150px;
  border-top: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  text-align: center;
}
.intro-topright .rec{
  color: #ffffff;
  margin-top: 20px;
  font-size: 20px;
  animation: blink 1s infinite;
}

.intro-topright .rec i{
  color: red;
}
.intro-bottomleft{
  position: absolute;
  bottom: 5%;
  left: 5%;
  width: 150px;
  height: 150px;
  border-left: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}
.intro-bottomright{
  position: absolute;
  bottom: 5%;
  right: 5%;
  width: 150px;
  height: 150px;
  border-right: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}
.intro-center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 150px;
  height: 150px;
  display: grid;
  grid-template-columns: auto auto;
  gap: 50px;
  position: relative;
}
.intro-center div{
width: 50px;
height: 50px;
}
.intro-center>div:nth-child(1){
  border-left: 1px solid #ffffff;
  border-top: 1px solid #ffffff;
}
.intro-center div:nth-child(2){
  border-right: 1px solid #ffffff;
  border-top: 1px solid #ffffff;
}
.intro-center div:nth-child(3){
  border-bottom:1px solid #ffffff;
  border-left:1px solid #ffffff;
}
.intro-center div:nth-child(4){
  border-bottom:1px solid #ffffff;
  border-right:1px solid #ffffff;
}
.intro-center div:nth-child(5){
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  
}

#num{
  width: 100%;
  height: 100%;
  color: #ffffff;
  font-size: 150px;
  font-weight: 900;
  text-align: center;
  position: absolute;
  top: -15%;
}
.intro-centerbottom{
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  text-align: center;
}
.intro-centerbottom img{
  width: 100%;
}
/* introduce */

.introduce{
  display: none;
  opacity: 0;
  transition: opacity .5s ease-in-out;
  font-family: 'camell';
  position: relative;
}
.contact{
  position: absolute;
  bottom: 11%;
  left: 15%;
  padding: 70px 50px;
  border-radius: 50%; 
  cursor: pointer;
  transition: .4s;
  background: radial-gradient(circle, #000000 20%, transparent 50%);
  color: #ffffff;
  font-size: 20px;
  animation: spin 5s infinite;
}
.contact-desc{
  background-color: #000000;
  width: 500px;
  height: 100px;
  position: absolute;
  bottom: 14.5%;
  left:50%;
  transform: translateX(-50%);
  color: #ffffff;
  border-radius: 10px;
  display: none;
}
.contact-desc .name{
  display: flex;
  justify-content: center;
  margin-top: 5px;
  gap: 20px;
}
.contact-desc .email{
  margin-top: 5px;
  text-align: center;
}
.contact-desc .phone{
  margin-top: 5px;
  text-align: center;
}
.contact-desc .living{
  margin-top: 5px;
  text-align: center;
}

.project{
  position: absolute;
  bottom: 11%;
  right: 15%;
  padding: 70px 50px;
  border-radius: 50%; 
  cursor: pointer;
  transition: .4s;
  background: radial-gradient(circle, #000000 20%, transparent 50%);
  color: #ffffff;
  font-size: 20px;
  animation: spin 5s infinite;
}
.introduce.show{
  display: block;
  opacity: 1;
  background-color: #ffffff;
  border: 1px solid transparent;
  height: 100vh;
}
.introduce-inner{
  display: flex;
  justify-content: space-between;
  width: 1280px;
  height: 530px;
  margin:  160px auto;
}
.introduce-left{
  width: 700px;
  position: relative;
  overflow: hidden;
}

.introduce-left img{
  object-fit: contain;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0; 
  left: -100%;
  transition: left 1s ease-in-out;
}
.introduce-left.animate img {
 left:0;
}
.introduce-right{
  background-color: #ffffff;
  width: 450px;
  height: 530px;
  border-radius: 50px;
  text-align: center;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.15);
  
}
.introduce-right:hover{
  transform: translateY(-10px); 
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2); 
}
.who{
  font-size: 40px;
  color: #c0c0c0;
  font-weight: bold;
  margin-top: 40px;
}
.iam{
  font-size: 64px;
  font-weight: bold;
  margin-bottom: 50px;
}
.textchange{
  background: url(https://joojamyeong.github.io/port/images/fontimg.jpg) no-repeat center / cover;
  font-size: 40px;
  font-weight: bold;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.textchange1{
  font-size: 26px;
  font-weight: bold;
  text-align: center;
}
.textchange2{
  font-size: 26px;
  font-weight: bold;
  text-align: left;
}

.page{
  margin-top: 70px;
  padding-right: 30px;
  text-align: right;
  position: relative;
  font-weight: bold;
  font-family: none;
}
.page em{
  font-style: normal;
  font-size: 90px;
  font-weight: bold;
  
}
.num{
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  top: 23%;
  left: 83%;
}
.slash{
  font-size: 80px;
  font-weight: 100;
}
.page1{
  margin-top: 40px;
  padding-right: 30px;
  text-align: right;
  position: relative;
  font-weight: bold;
  font-family: none;
}
.page1 em{
  font-style: normal;
  font-size: 90px;
  font-weight: bold;
  margin-right: 10px;
}
.page1 .num{
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  top: 23%;
  left: 82%;
}
.introduce-top{
  position: absolute;
  top: 1.5%;
  left: -0.5%;
  display: flex;
}
.introduce-bottom{
  position: absolute;
  bottom: 3%;
  left: -0.5%;
  display: flex;
}
.blackrect{
  margin: 0 20px;
  width: 40px;
  height: 70px;
  background-color: #000000;
  border-radius: 10px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.15);
}
.whiterect{
  margin: 0 20px;
  width: 40px;
  height: 70px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.15);
}
.skill{
  height: 200px;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  gap: 0 50px;
}
.skill img{
  width: 50px;
  height: 50px;
}

/* intro2 */

.intro2 {
  margin: auto;
  overflow: hidden;
  background: #ffffff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: background-color 1s ease-in-out;
  
} 

.intro2-rotate{
 position: absolute;
 bottom: 10%;
 right: 0%;
 z-index: 999;
}
.intro2-rotate img{
  transform: scaleX(-1);
}
.intro2-top,.intro2-bottom{
  width: 100%;
  height: 100px;
  background-color: #000000;
  position: absolute;
  display: flex;
} 
.intro2-top{
  top: 0;
}
.intro2-bottom{
  bottom: 0;
}
.move-whiterect{
  margin: 0 20px;
  width: 40px;
  height: 70px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.15);
  animation: fast-blink 0.1s infinite;
}
.intro2-top .move-whiterect{
  margin-top: 15px;
}
.intro2-bottom .move-whiterect{
  margin-top: 15px;
}
.glitch-background {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #fff;
  animation: glitch-animation 2s infinite;
}

.glitch-background::before,
.glitch-background::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: 0.6;
  z-index: -1;
  mix-blend-mode: difference; 
}

.glitch-background::before {
  background: linear-gradient(90deg, #fff 50%, #f0f0f0 50%);
  animation: glitch-lines 0.1s infinite linear alternate;
}

.glitch-background::after {
  background: linear-gradient(0deg, #fff 50%, #e0e0e0 50%);
  animation: glitch-lines 0.15s infinite linear alternate-reverse;
}
.flash-black {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #000000;
  opacity: 0;
  z-index: 999;
  transition: opacity 1s ease-in-out;
}
/* myproject */
 .myproject{
  box-sizing: border-box;
  background-color: #000000;
  color: #ffffff;
  overflow-y: auto;
  z-index: 0;
  display: block;
}
.kbo-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none; 
  z-index: -2;
}
.comingsoon-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none; 
  z-index: -2;
}
.kimhae-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none; 
  z-index: -2;
}
.shoppe-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none; 
  z-index: -2;
}
.about{
  position: relative;
  z-index: 9999;
  font-size: 30px;
  background-color: #ffffff;
  font-weight: bold;
  transition: .5s;
  width: 200px;
  height: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutme{
  padding: 30px 30px;
  white-space: nowrap;
}
.about:hover{
  background-color: #000000;
}
.aboutme{
  color: #000000;
}
.about:hover .aboutme{
  color: #ffffff;
}
.about:hover .small-rec{
  background-color: #ffffff;
}
.about-bottom .small-rec:nth-child(1){
  left: 3%;
}
.about-bottom .small-rec:nth-child(2){
  left: 13%;
}
.about-bottom .small-rec:nth-child(3){
  left: 23%;
}
.about-bottom .small-rec:nth-child(4){
  left: 33%;
}
.about-bottom .small-rec:nth-child(5){
  left: 43%;
}
.about-bottom .small-rec:nth-child(6){
  left: 53%;
}
.about-bottom .small-rec:nth-child(7){
  left: 63%;
}
.about-bottom .small-rec:nth-child(8){
  left: 73%;
}
.about-bottom .small-rec:nth-child(9){
  left: 83%;
}
.about-bottom .small-rec:nth-child(10){
  left: 93%;
  
}

.small-rec{
  position: absolute;
  bottom: 2%;
  width: 10px;
  height: 20px;
  background: #000000;
  border-radius: 3px;
  transition: .5s;
}
.tap{
  margin-top: 80px;
  display: flex;
  justify-content: center;
  gap: 100px;
}
.tap a {
  position: relative;
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  padding: 30px 20px;
  overflow: hidden;
}
.tap a::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 10px;
  height: 10px;
  background: #B19F77;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: ripple 0.6s ease-out infinite;
}

.tap a:hover::after {
 background-color: #ffffff;
}


.team-project , .personal-project , .sub-project{
  margin-left: 250px;
  margin-top: 150px;
}
.project-title{
  display: flex;
  gap: 20px;
  align-items: center;
}
.project-title img{
  width: 40px;
  height: 40px;
}
.team-project-list{
  display: flex;
  height: 468px;
}
.KBO{
  width: 260px;
  position: relative;
}
.KBO img{
  cursor: pointer;
  border-radius: 10px;
}
.KBO .sticker{
  background-color: #ffffff;
  color: #B19F77;
  position: absolute;
  top: 28%;
  left: 29%;
  width: 117px;
  height: 200px;
  border-radius: 6px;
  text-align: center;
  font-family: 'KBO';
}
.KBO .sticker p{
  margin-top: 20px;
}
.KBO::after{
  content: '1';
  position: absolute;
  left: -30%;
  bottom: -5%;
  font-size: 200px;
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke: 1px #ffffff;
  z-index: -1; 
  transition: .5s;
}
.KBO:hover::after{
  color: #ffffff;
}
.comingsoon{
  width: 260px;
  height: 462px;
  margin-left: 150px;
  position: relative;
}
.comingsoon::after{
  content: '2';
  position: absolute;
  left: -33%;
  bottom: -5%;
  font-size: 200px;
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke: 1px #ffffff;
  z-index: -1; 
  transition: .5s;
}
.comingsoon:hover::after{
  color: #ffffff;
}
.comingsoon button{
  padding: 140px 80px;
  border-radius: 10px;
  background-color: transparent;
  border: none;
  border: 5px dotted #ffffff;
  font-size: 150px;
  color: #ffffff;
  cursor: pointer;
  position: relative;
}

.btns a{
  margin-top: 10px;
  margin-left: 10px;
  text-align: center;
  color: #ffffff;
  font-family: 'Yatra One';
  display: block;
}
.web {
  width: 160px;
  padding: 3px 0;
  font-size: 20px;
  position: relative;
  overflow: hidden; 
  color: #ffffff; 
  background: transparent; 
  border: 1px solid #eaeaea;
}
.web::after {
  content: '';
  position: absolute;
  top: 0;
  left: -100%; 
  width: 100%;
  height: 100%;
  background: rgba(177, 159, 119, 1); 
  transition: left 0.3s ease; 
  z-index: -1;
}
.web:hover::after {
  left: -30%; 
}
.original{
  width: 160px;
  padding: 3px 0;
  font-size: 20px;
  position: relative;
  overflow: hidden; 
  color: #ffffff; 
  background: transparent; 
  border: 1px solid #eaeaea;
}
.original::after {
  content: '';
  position: absolute;
  top: 0;
  left: -100%; 
  width: 100%;
  height: 100%;
  background: rgba(177, 159, 119, 1); 
  transition: left 0.3s ease; 
  z-index: -1;
}
.original:hover::after {
  left: -30%; 
}
.github{
  position: absolute;
  bottom: -15%;
  right: 5%;
 width: 60px;
 height: 60px;
}
.github img{
  width: 100%;
  height: 100%;
}
/* personal-project */
.personal-project-list{
  display: flex;
  height: 468px;
}
.kimhae{
  width: 260px;
  position: relative;
  cursor: pointer;
}
.kimhae::after{
  content: '1';
  position: absolute;
  left: -30%;
  bottom: -5%;
  font-size: 200px;
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke: 1px #ffffff;
  z-index: -1; 
  transition: .5s;
}
.kimhae:hover::after{
  color: #ffffff;
}
.kimhae .sticker{
  background-color: #000000;
  color: #ffffff;
  position: absolute;
  top: 28%;
  left: 29%;
  width: 117px;
  height: 200px;
  border-radius: 6px;
  text-align: center;
}
.kimhae .sticker img{
  margin-top: 20px;
  width: 100px;
}
.kimhae .sticker h2{
  margin-top: 20px;
}
.kimhae .sticker p{
  font-size: 12px;
  margin-top: 20px;
  line-height: 15px;
  font-weight: bold;
}

.shoppe{
  width: 260px;
  position: relative;
  cursor: pointer;
  margin-left: 150px;
}
.shoppe .sticker{
  background-color: #ffffff;
  color: #000000;
  position: absolute;
  top: 28%;
  left: 29%;
  width: 117px;
  height: 200px;
  border-radius: 6px;
  text-align: center;
}
.shoppe .sticker img{
  margin-top: 20px;
  width: 100px;
}
.shoppe .sticker h2{
  margin-top: 20px;
}
.shoppe .sticker p{
  font-size: 12px;
  margin-top: 20px;
  line-height: 15px;
  font-weight: bold;
}
.shoppe::after{
  content: '2';
  position: absolute;
  left: -30%;
  bottom: -5%;
  font-size: 200px;
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke: 1px #ffffff;
  z-index: -1; 
  transition: .5s;
}
.shoppe:hover::after{
  color: #ffffff;
}
.personal-project-list .comingsoon{
  width: 260px;
  height: 462px;
  margin-left: 150px;
  position: relative;
}
.personal-project-list .comingsoon::after{
  content: '3';
  position: absolute;
  left: -33%;
  bottom: -5%;
  font-size: 200px;
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke: 1px #ffffff;
  z-index: -1; 
  transition: .5s;
}
.personal-project-list .comingsoon:hover::after{
  color: #ffffff;
}
.personal-project-list .comingsoon button{
  padding: 140px 80px;
  border-radius: 10px;
  background-color: transparent;
  border: none;
  border: 5px dotted #ffffff;
  font-size: 150px;
  color: #ffffff;
  cursor: pointer;
  position: relative;
}
/* sub-project */
.sub-project-list{
  display: flex;
  height: 468px;
  margin-bottom: 250px;
}
.tmdb{
  width: 260px;
  position: relative;
  cursor: pointer;
}
.tmdb .sticker{
  background-color: rgb(15, 23, 42);
  color: #ffffff;
  position: absolute;
  top: 28%;
  left: 29%;
  width: 117px;
  height: 200px;
  border-radius: 6px;
  text-align: center;
}
.tmdb .sticker img{
  margin-top: 10px;
}
.tmdb .sticker h2{
  margin-top: 20px;
}
.tmdb .sticker p{
  font-size: 12px;
  margin-top: 10px;
  line-height: 15px;
  font-weight: bold;
}
.tmdb::after{
  content: '1';
  position: absolute;
  left: -30%;
  bottom: -5%;
  font-size: 200px;
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke: 1px #ffffff;
  z-index: -1; 
  transition: .5s;
}
.tmdb:hover::after{
  color: #ffffff;
}
.tmdb > .btns > .web{
  padding: 20px 0;
}

.homecheck{
  margin-left: 150px;
  width: 260px;
  position: relative;
  cursor: pointer;
}
.homecheck .sticker{
  background-color: rgb(15, 23, 42);
  color: #ffffff;
  position: absolute;
  top: 28%;
  left: 29%;
  width: 117px;
  height: 200px;
  border-radius: 6px;
  text-align: center;
}
.homecheck .sticker img{
  margin-top: 10px;
}
.homecheck .sticker h2{
  margin-top: 20px;
}
.homecheck .sticker p{
  font-size: 12px;
  margin-top: 10px;
  line-height: 15px;
  font-weight: bold;
}
.homecheck::after{
  content: '2';
  position: absolute;
  left: -30%;
  bottom: -5%;
  font-size: 200px;
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke: 1px #ffffff;
  z-index: -1; 
  transition: .5s;
}
.homecheck:hover::after{
  color: #ffffff;
}
.class101{
  margin-left: 150px;
  width: 260px;
  position: relative;
  cursor: pointer;
}
.class101 .sticker{
  background-color: #ffffff;
  color: #000000;
  position: absolute;
  top: 28%;
  left: 29%;
  width: 117px;
  height: 200px;
  border-radius: 6px;
  text-align: center;
}
.class101 .sticker img{
  margin-top: 10px;
  width: 100px;
}
.class101 .sticker h2{
  margin-top: 20px;
}
.class101 .sticker p{
  font-size: 12px;
  margin-top: 10px;
  line-height: 15px;
  font-weight: bold;
}
.class101::after{
  content: '3';
  position: absolute;
  left: -30%;
  bottom: -5%;
  font-size: 200px;
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke: 1px #ffffff;
  z-index: -1; 
  transition: .5s;
}
.class101:hover::after{
  color: #ffffff;
}
.petstory{
  margin-left: 150px;
  width: 260px;
  position: relative;
  cursor: pointer;
}
.petstory .sticker{
  background-color: rgb(15, 23, 42);
  color: #ffffff;
  position: absolute;
  top: 28%;
  left: 29%;
  width: 117px;
  height: 200px;
  border-radius: 6px;
  text-align: center;
}
.petstory .sticker img{
  margin-top: 10px;
}
.petstory .sticker h2{
  margin-top: 20px;
}
.petstory .sticker p{
  font-size: 12px;
  margin-top: 10px;
  line-height: 15px;
  font-weight: bold;
}
.petstory::after{
  content: '4';
  position: absolute;
  left: -30%;
  bottom: -5%;
  font-size: 200px;
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke: 1px #ffffff;
  z-index: -1; 
  transition: .5s;
}
.petstory:hover::after{
  color: #ffffff;
}


/* details */

.details{
  width: 100%;
  height: 100%;
  display: none;
  background-color: #000000;
}
.mySwiper{
  width: 60%;
  height: 350px;
  margin-top: 100px;
}
.swiper-slide{
  display: flex;
  align-items: center;
}
.swiper-slide .kbo-left{
  flex: 0.5;
  margin-left: 100px;
}
.swiper-slide .kbo-left img{
  width: 100%;
  height: 250px;
}
.swiper-slide .kbo-right{
  flex: 1;
  color: #ffffff;
  font-family: 'KBO';
  height: 350px;
}
.title{
  margin-top: 20px;
  font-size: 40px;
  text-align: center;
}
.desc{
margin-top: 20px;
text-align: center;
}
.desc-type{
  margin-top: 20px;
  gap: 80px;
  display: flex;
  justify-content: center;
  
}
.desc-tools{
  margin-top: 20px;
  gap: 80px;
  display: flex;
  justify-content: center;
}
.desc-fonts{
  margin-top: 20px;
  gap: 80px;
  display: flex;
  justify-content: center;
}
.kbo-right .color{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.kbo-right .color h3{
  margin-right: 200px;
}
.color2{
  margin:0 20px;
}
.kbo-right .color .color1{
  color: #000000;
  text-shadow: 
      -1px -1px 0 #ffffff,  
      -1px -1px 0 #ffffff,  
      -1px -1px 0 #ffffff,  
      1px 1px 0 #ffffff; }
.kbo-right .color .color2{}
.kbo-right .color .color3{
  color: #B19F77;
}

.details-btns{
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.details-btns a{
  margin-top: 10px;
  margin-left: 10px;
  text-align: center;
  color: #ffffff;
  font-family: 'Yatra One';
  display: block;
}
.details-btns .web {
  width: 160px;
  padding: 3px 0;
  font-size: 20px;
  position: relative;
  overflow: hidden; 
  color: #ffffff; 
  background: transparent; 
  border: 1px solid #eaeaea;
}
.details-btns .web::after {
  content: '';
  position: absolute;
  top: 0;
  left: -100%; 
  width: 100%;
  height: 100%;
  background: rgba(177, 159, 119, 1); 
  transition: left 0.3s ease; 
  z-index: -1;
}
.details-btns .web:hover::after {
  left: -30%; 
}
.details-btns .original{
  width: 160px;
  padding: 3px 0;
  font-size: 20px;
  position: relative;
  overflow: hidden; 
  color: #ffffff; 
  background: transparent; 
  border: 1px solid #eaeaea;
}
.details-btns .original::after {
  content: '';
  position: absolute;
  top: 0;
  left: -100%; 
  width: 100%;
  height: 100%;
  background: rgba(177, 159, 119, 1); 
  transition: left 0.3s ease; 
  z-index: -1;
}
.details-btns .original:hover::after {
  left: -30%; 
}
.details-btns .github{
  position: absolute;
  bottom: 0%;
  right: 5%;
 width: 60px;
 height: 60px;
}
.details-btns .github img{
  width: 100%;
  height: 100%;
}
.swiper-slide .kimhae-left{
  flex: 0.5;
  margin-left: 100px;
}
.swiper-slide .kimhae-left img{
  width: 100%;
  height: 250px;
}
.swiper-slide .kimhae-right{
  flex: 1;
  color: #ffffff;
  font-family: 'KBO';
  height: 350px;
}
.kimhae-right .color{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.kimhae-right .color h3{
  margin-right: 200px;
}
.kimhae-right .color .color1{
  color: #000000;
  text-shadow: 
      -1px -1px 0 #ffffff,  
      -1px -1px 0 #ffffff,  
      -1px -1px 0 #ffffff,  
      1px 1px 0 #ffffff; }
.kimhae-right .color .color2{}
.kimhae-right .color .color3{
  color: #00ffdd;
}
.swiper-slide .shoppe-left{
  flex: 0.5;
  margin-left: 100px;
}
.swiper-slide .shoppe-left img{
  width: 100%;
  height: 250px;
}
.swiper-slide .shoppe-right{
  flex: 1;
  color: #ffffff;
  font-family: 'KBO';
  height: 350px;
}
.shoppe-right .color{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.shoppe-right .color h3{
  margin-right: 200px;
}
.shoppe-right .color .color1{
  color: #000000;
  text-shadow: 
      -1px -1px 0 #ffffff,  
      -1px -1px 0 #ffffff,  
      -1px -1px 0 #ffffff,  
      1px 1px 0 #ffffff; }
.shoppe-right .color .color2{}
.shoppe-right .color .color3{
  color: #B19F77;
}
.shoppe > .btns > .web{
  padding: 20px 0;
}
.swiper-slide .tmdb-left{
  flex: 0.5;
  margin-left: 100px;
}
.swiper-slide .tmdb-left img{
  width: 100%;
  height: 250px;
}
.swiper-slide .tmdb-right{
  flex: 1;
  color: #ffffff;
  font-family: 'KBO';
  height: 350px;
}
.tmdb-right .color{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.tmdb-right .color h3{
  margin-right: 200px;
}
.tmdb-right .color .color1{
  color: #7b61ff;
  text-shadow: 
      -1px -1px 0 #ffffff,  
      -1px -1px 0 #ffffff,  
      -1px -1px 0 #ffffff,  
      1px 1px 0 #ffffff; }
.tmdb-right .color .color2{
  color: #0f172a;
  text-shadow: 
  -1px -1px 0 #ffffff,  
  -1px -1px 0 #ffffff,  
  -1px -1px 0 #ffffff,  
  1px 1px 0 #ffffff;
}
.tmdb-right .color .color3{
  color: #ffffff;
}

.swiper-button-next , .swiper-button-prev{
  color: #ffffff;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes glitch-animation {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-5px, 5px);
  }
  50% {
    transform: translate(5px, -5px);
  }
  75% {
    transform: translate(-3px, 3px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes glitch-lines {
  0% {
    clip-path: inset(10% 0 90% 0);
  }
  25% {
    clip-path: inset(30% 0 60% 0);
  }
  50% {
    clip-path: inset(50% 0 40% 0);
  }
  75% {
    clip-path: inset(70% 0 20% 0);
  }
  100% {
    clip-path: inset(90% 0 10% 0);
  }
}

@keyframes fast-blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
@keyframes ripple {
  0% {
    width: 10px;
    height: 10px;
    opacity: 0.8;
  }
  100% {
    width: 100px;
    height: 100px;
    opacity: 0;
  }
}
